@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background:url(./10.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  font-family: 'Roboto', 'Ubuntu', sans-serif;

}